*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  caret-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding-top: 120px;
  padding-left: 85px;
  padding-right: 20px;
}

